* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    color:white;
    font-family: Tangerine;
    font-size: 20px;
    position: relative;
    font-weight: 400;
}

/***TOP PART***/

.top{
    height: 50vh;
    position: relative;
    background-image: url(sea.jpeg);
    background-position: center;
    background-size:cover;
    
}
.budget{
    position:absolute;
    width:300px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.budget_title{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}
.budget_value{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: inherit;
    
}
.budget__income--values,
.budget__expense--values{
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
}

.budget__income--values{
    margin-bottom: 20px;
    border:2px solid #00FA9A;
    border-radius:8px;
}
.budget__expense--values{
    border:2px solid #FF0000;
    border-radius:8px;
}

.budget__income--text,
.budget__expense--text{
   padding-left: 8px;
    float: left;
    
}

.budget__expense--value,
.budget__income--value{
    letter-spacing: 2px;
    margin-left: 200px;
}

/****BOTTOM PART*****/

.bar{
    padding:20px;
    background-color:#20B2AA;
}
.add_container{
    margin: auto;
    text-align: center;
}
.add_type{
    width: 50px;
    height: 50px;
    background-color: floralwhite;
    border: 3px solid #e7e7e7;
    font-size:15px;
    margin-right: 10px;
    transition: border 0.3s;
}
.add_description,
.add_value{
    height: 50px;
    border: 3px solid #e7e7e7;
    font-size: 15px;
    padding: 10px 10px;
    font-family:inherit;
    margin-right: 12px;
    background-color: floralwhite;
    border-radius: 8px;
}

.add_description{
    width: 350px;
  }
.add_value{
    width:120px;
}
.add_btn{
    background: none;
    border: none;
    margin-left: 2px;
}
.add_btn:active { transform: translateY(5px); }
.add_btn:focus{
    outline: none;
}

ion-icon{
    color: red;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
ion-icon:hover{
    color:	#00FF00;
    text-shadow: 0 0 15px #d35400;
}


/*****LIST SECTION***/

.container {
    padding: 20px;
    height: 100%;
    width: 100%;
}
.income{
    float:left;
    width:400px;
    margin-left:400px;
    margin-right: 10px;
}
.expense{
    float:left;
    width: 500px;
    
}
h2 {
text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 300;
    
}
.income_title{
    color:green;
}
.expense_title{
    color:red;
}

.item {
    position:relative;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;

}
.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
    color:black;
}

.item__value {
    float: left;
    margin-left:200px;
    transition: transform 0.3s;
}
.income .item__value{
    color: #28B9B5;
}

.expense .item__value{
    color: #FF5049;
}

